@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');

.detail{
    text-align: center;
    /* padding: 10px; */
}
.detail img{
    width: 100%;
}
.detail h1{
    font-family: 'Poppins', sans-serif;
}

.detail address,.detail p{
    font-family: 'Ubuntu', sans-serif;
    padding: 4px 0px 4px 0px;
}

